In [27]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd  # pandas 라이브러리를 import합니다.
import pymongo as mg
import os

In [10]:
# open Chrome browser.executable_path = 브라우저 여는 법 
browser = webdriver.Chrome(executable_path='../../../../chromedriver.exe')

In [11]:
# 페이지 접속
browser.implicitly_wait(10)
browser.get('https://finance.naver.com/sise/sise_market_sum.naver?&page=')
browser.maximize_window() #창 최대화

In [12]:
# 2. 체크되어 있는 항목 체크 해제 하기 
checkboxes = browser.find_elements(By.NAME,'fieldIds')
#반복문을 통해서 체크박스가 선택된 상태라면 
for checkbox in checkboxes: 
    if checkbox.is_selected(): # 만약 체크박스가 선택된 상태인지 확인하기. true면 체크 없애주기. 
        checkbox.click()      #체크 메쏘드 불러서 (체크 해제하기)

In [13]:
# 3. 원하는 항목 리스트(list)에 담아서 체크하기(원하는 항목) 
items_to_select = ['영업이익', '자산총계' ,'매출액']  #리스트 형태로 [] 대괄호 적기. 
for checkbox in checkboxes: 
    parent = checkbox.find_element(By.XPATH,'..') #부모는 xpass로 갈 수 있엉. input type형제로부터 부모 찾을거야 
    label = parent.find_element(By.TAG_NAME, 'label') #label이라는 태그를 찾아서 label에 반환해준다. 
    #print(label.text) #전체 확인용 
    if label.text in items_to_select: #label 이 items_to_select 리스트에 포함되어있다면 즉 선택항목과 일치한다면 
        checkbox.click() #체크해서 출력해줘

In [14]:
#4. 적용하기 버튼 (이미지 위에 a tag) 
btn_apply = browser.find_element(By.XPATH, '//a[@href="javascript:fieldSubmit()"]')# @href 속성 찾기
btn_apply.click() # 버튼클릭

In [8]:
pip install lxml

Requirement already satisfied: lxml in c:\users\5-20\anaconda3\lib\site-packages (4.9.2)
Note: you may need to restart the kernel to use updated packages.

In [17]:
len(df) #len으로 해당테이블에 3개 존재

3

In [18]:
df[0]

     0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)

In [19]:
df[1]

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익,토론실,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,70300.0,100.0,-0.14%,100.0,3022314.0,4484245.0,433766.0,NaN,NaN,NaN,NaN
2,2.0,LG에너지솔루션,509000.0,8000.0,-1.55%,500.0,255986.0,382994.0,12137.0,NaN,NaN,NaN,NaN
3,3.0,SK하이닉스,113700.0,4800.0,-4.05%,5000.0,446216.0,1038715.0,68094.0,NaN,NaN,NaN,NaN
4,4.0,삼성바이오로직스,724000.0,0.0,0.00%,2500.0,30013.0,165821.0,9836.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,삼성중공업,8230.0,20.0,+0.24%,1000.0,59447.0,144917.0,-8544.0,NaN,NaN,NaN,NaN
77,50.0,LG생활건강,462500.0,0.0,0.00%,5000.0,71858.0,73029.0,7111.0,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#5.테이블만 끌고오는 방법 찾기. 데이터 추출 
df = pd.read_html(browser.page_source)[1]
df #NAN 데이터가 없어서 결측치로 날려야함.

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익,토론실,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,70300.0,100.0,-0.14%,100.0,3022314.0,4484245.0,433766.0,NaN,NaN,NaN,NaN
2,2.0,LG에너지솔루션,509000.0,8000.0,-1.55%,500.0,255986.0,382994.0,12137.0,NaN,NaN,NaN,NaN
3,3.0,SK하이닉스,113700.0,4800.0,-4.05%,5000.0,446216.0,1038715.0,68094.0,NaN,NaN,NaN,NaN
4,4.0,삼성바이오로직스,724000.0,0.0,0.00%,2500.0,30013.0,165821.0,9836.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,삼성중공업,8230.0,20.0,+0.24%,1000.0,59447.0,144917.0,-8544.0,NaN,NaN,NaN,NaN
77,50.0,LG생활건강,462500.0,0.0,0.00%,5000.0,71858.0,73029.0,7111.0,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.head(10)

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익,토론실,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,70300.0,100.0,-0.14%,100.0,3022314.0,4484245.0,433766.0,NaN,NaN,NaN,NaN
2,2.0,LG에너지솔루션,509000.0,8000.0,-1.55%,500.0,255986.0,382994.0,12137.0,NaN,NaN,NaN,NaN
3,3.0,SK하이닉스,113700.0,4800.0,-4.05%,5000.0,446216.0,1038715.0,68094.0,NaN,NaN,NaN,NaN
4,4.0,삼성바이오로직스,724000.0,0.0,0.00%,2500.0,30013.0,165821.0,9836.0,NaN,NaN,NaN,NaN
5,5.0,POSCO홀딩스,583000.0,15000.0,+2.64%,5000.0,847502.0,984068.0,48501.0,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6.0,삼성전자우,57100.0,500.0,-0.87%,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.dropna(axis='index', how='all', inplace=True) #결측치 제거  all(줄 전체가 비어있으면 모두 지워라) 
df.head(10)

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익,토론실,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,1.0,삼성전자,70300.0,100.0,-0.14%,100.0,3022314.0,4484245.0,433766.0,NaN,NaN,NaN,NaN
2,2.0,LG에너지솔루션,509000.0,8000.0,-1.55%,500.0,255986.0,382994.0,12137.0,NaN,NaN,NaN,NaN
3,3.0,SK하이닉스,113700.0,4800.0,-4.05%,5000.0,446216.0,1038715.0,68094.0,NaN,NaN,NaN,NaN
4,4.0,삼성바이오로직스,724000.0,0.0,0.00%,2500.0,30013.0,165821.0,9836.0,NaN,NaN,NaN,NaN
5,5.0,POSCO홀딩스,583000.0,15000.0,+2.64%,5000.0,847502.0,984068.0,48501.0,NaN,NaN,NaN,NaN
9,6.0,삼성전자우,57100.0,500.0,-0.87%,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,7.0,삼성SDI,589000.0,6000.0,-1.01%,5000.0,201241.0,302575.0,18080.0,NaN,NaN,NaN,NaN
11,8.0,LG화학,564000.0,13000.0,-2.25%,5000.0,518649.0,679738.0,29957.0,NaN,NaN,NaN,NaN
12,9.0,현대차,185700.0,1500.0,-0.80%,5000.0,1425275.0,2557425.0,98198.0,NaN,NaN,NaN,NaN
13,10.0,NAVER,215000.0,1500.0,-0.69%,100.0,82201.0,338990.0,13047.0,NaN,NaN,NaN,NaN

In [26]:
df.dropna(axis='columns', how='all', inplace=True) #행||| 칼럼 결측치 제거  all(줄 전체가 비어있으면 모두 지워라) 
df.head(10) # 결측치 제거

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익
1,1.0,삼성전자,70300.0,100.0,-0.14%,100.0,3022314.0,4484245.0,433766.0
2,2.0,LG에너지솔루션,509000.0,8000.0,-1.55%,500.0,255986.0,382994.0,12137.0
3,3.0,SK하이닉스,113700.0,4800.0,-4.05%,5000.0,446216.0,1038715.0,68094.0
4,4.0,삼성바이오로직스,724000.0,0.0,0.00%,2500.0,30013.0,165821.0,9836.0
5,5.0,POSCO홀딩스,583000.0,15000.0,+2.64%,5000.0,847502.0,984068.0,48501.0
9,6.0,삼성전자우,57100.0,500.0,-0.87%,100.0,NaN,NaN,NaN
10,7.0,삼성SDI,589000.0,6000.0,-1.01%,5000.0,201241.0,302575.0,18080.0
11,8.0,LG화학,564000.0,13000.0,-2.25%,5000.0,518649.0,679738.0,29957.0
12,9.0,현대차,185700.0,1500.0,-0.80%,5000.0,1425275.0,2557425.0,98198.0
13,10.0,NAVER,215000.0,1500.0,-0.69%,100.0,82201.0,338990.0,13047.0

In [28]:
#6.파일저장하기.
f_name = 'sise.csv'
if os.path.exists(f_name): #파일이 있다면 ? 헤더제외 
    df.to_csv(f_name, encoding='utf-8-sig', index=False, mode='a', header=False)
else:# 파일이 없다면 헤더를 포함해야함
    df.to_csv(f_name, encoding='utf-8-sig', index=False)
print(f'{idx} 페이지완료')